<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link th:href="@{../css/styles.css}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Edit project</title>
</head>
<body>
<div align="center">
    <h1 th:text="'Edytuj projekt o numerze MPK ' + ${project.getMpk()}">Edycja projektu</h1>
    <br>
</div>
<div align="center" class="divCentered">
    <form action="#" th:action="@{/saveEditedProject}" th:object="${project}"
          method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>MPK:</td>
                <td><input type="text" th:field="*{mpk}" readonly="readonly" /></td>
            </tr>
            <tr>
                <td>Numer projektu:</td>
                <td><input type="text" th:field="*{nr_project}" readonly="readonly" /></td>
            </tr>
            <tr>
                <td>Budynek:</td>
                <td><input type="text" th:field="*{building.name}"  readonly="readonly" /></td>
            </tr>
            <tr>
                <td>Typ usługi:</td>
                <td><input type="text" th:field="*{servtype.name}"  readonly="readonly" /></td>
            </tr>
            <tr>
                <td>Najemca:</td>
                <td><input type="text" th:field="*{tenant}" /></td>
            </tr>
            <tr>
                <td>Data:</td>
                <td><input type="text" th:field="*{date}" /></td>
            </tr>
            <tr>
                <td>Piętro:</td>
                <td><input type="text" th:field="*{floor}" /></td>
            </tr>
            <tr th:rows="3">
                <td>Krótki opis:</td>
                <td><input type="text" th:field="*{short_description}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit"
                                        class="btn btn-info btn-login btn-building">Zapisz</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>