<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link th:href="@{../css/styles.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Invalid Login</title>
</head>
<body>
    <div align="center">
        <h1 id="home-title">Niepoprawny login</h1>
        <a href="/" class = "btn btn-info btn-sm">Strona główna</a>
        <a href="loginForm" class = "btn btn-info btn-sm">Logowanie</a>
    </div>
</body>
</html>